<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UploadSymbols.Properties.Settings.magentatradersConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=magentatraders;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UploadSymbols.Properties.Settings.magentatradersConnectionString1"
            connectionString="Data Source=tcp:yn7obkepfl.database.windows.net,1433;Initial Catalog=magentatraders;Persist Security Info=True;User ID=easyfis@yn7obkepfl;Password=@innosoft1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>